@charset "utf-8";
body{
	margin:0;
	background:#F3FFF1;
}

h1{
	margin:0;
	font-size:30pt;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

a{
	color:#666;
	text-decoration:underline;
}

img{
	display:block;
}

.s_center{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.s_gotop{
	position:fixed;
	right:1%;
	bottom:20px;
	height:50px;
	width:50px;
	border-radius:99em;
	background:#4FCABB;
	text-align:center;
	line-height:50px;
	z-index:1;
	display:none;
}

.s_gotop:hover{
	background:#7DD0C6;
	cursor:pointer;	
}

.s_top{
	position:fixed;
	width:auto;
	height:50px;
	right:0;
	left:0;
	background:#BAE6D8;
	color:#000;
	border-bottom:1px solid #CCC;
	box-shadow:0px 0px 5px #CCC;
	z-index:5;
}

.s_logo{
	margin-left:30px;
	width:180px;
	height:50px;
	font-size:21px;
	text-align:center;
	float:left;
	line-height:50px;
	text-decoration:none;
	font-family: 微軟正黑體, Microsoft JhengHei;
	color:#138B7D;
}

.s_logo:hover{
	color:#138B7D;
	text-decoration:none;
}

.s_nav{
	margin: 0;
	padding:0;
}

.s_nav > li{
	float:left;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	font-size:15px;
	line-height:50px;
}

.s_nav > li:hover{
	background:#CCC;
	cursor:pointer;
}

.s_nav a{
	color:#000;
	text-decoration:none;
}

.s_button{
	display:inline-block;
	border:0;
	border-radius:5px;
	padding:7px 16px;
	text-decoration:none;
	background:#4FCABB;
	color:#FFF;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.s_button:hover {
	background:#7DD0C6;
	color:#FFF;
}

.s_button2{
	display:inline-block;
	border-radius:5px;
	padding:7px 16px;
	text-decoration:none;
	background:#f27a4e;
	color:#FFF;
	font-family: 微軟正黑體, Microsoft JhengHei;
}
.s_button2:hover {
	background:#f78359;
	color:#FFF;
}

.s_main{
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0;
}

.s_container{
	width:1250px;
	padding-top:85px;
}

.sidebar{
	float:left;
	margin-left:10px;
	margin-right:25px;
	width:250px;
	height:400px;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.s_content{
	display:table;
	padding-bottom:100px;
	width:950px;
}

.s_header{
	float:left;
	margin-bottom:15px;
	width:100%;
	font-size:30px;
	font-family: 微軟正黑體, Microsoft JhengHei;
	text-align:left;
	color:#00A89F;
}

.s_card{
	float:left;
	margin-right:15px;
	margin-bottom:20px;
	width:300px;
	border: none;
	border-radius: 0.2857rem;
	box-shadow: 0px 3px 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
	background:#FFF;
}

.s_description{
	float:left;
	width:800px;
	height:250px;
	text-align:left;
	vertical-align:middle;
}

.s_login{
	float:right;
	width:400px;
	padding:50px 45px;
	background:#BBE8D5;
	box-shadow:2px 2px 3px #CCC;
	font-size:16px;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.s_text{
	width:150px;
	height:30px;
	padding-left:5px;
	border:1px solid #999;
	border-radius:5;
}

.s_text:focus{
    outline: 0;
	border:solid 1px #7faaeb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(86,150,199,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(86,150,199,1);
	box-shadow: 0px 0px 7px 0px rgba(86,150,199,1);
}

.s_footer{
	position:relative !important;
	border-radius:0 !important;
	margin-top: -82px !important;
	background:#4B625B !important;
	color:#F7F7FF !important;
}

.s_footer  a{
	color:#8BC6E5;
	text-decoration:none;
}

.s_footer  a:hover{
	text-decoration:underline;
}

.s_manage{
	float:left;
	margin-bottom:10px;
	width:100%;
	height:60px;
	background:#F0F0F0;
	border:1px solid #D8D8D8;
	border-radius:5px;
	box-shadow:2px 2px 2px #CCC;
	line-height:60px;
}

.s_manage_id{
	width:50px;
	float:left;
	margin-left:10px;
}

.s_manage_name{
	width:300px;
	float:left;
	text-align:left;
}

.s_manage_category{
	width:200px;
	float:left;
	text-align:left;
}

.s_manage_description{
	width:280px;
	float:left;
	text-align:left;
}

.s_manage_update{
	width:70px;
	float:right;
}

.s_manage_edit{
	float:left;
	margin-right:20px;
}

.s_manage_edit:hover{
	cursor:pointer;
}

.s_manage_delete{
	float:left;
}

.s_manage_delete:hover{
	cursor:pointer;
}

.s_manage_downloadName{
	width:220px;
	float:left;
	text-align:left;
}

.s_manage_downloadPath{
	width:250px;
	float:left;
	text-align:left;
	overflow:hidden;
}

.download_header{
	font-size:16px;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.download_software{
	height:47px;
	font-weight: bold;
	background:#BBE8D5;
}

.download_software_header{
	background:#DFF5EB !important;
	color:#138B7D !important;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.table_header{
	background:#DFF5EB !important;
	color:#117368 !important;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.download_button{
	padding:5px 14px;
	text-align:center;
	background:#00b5ad;
	font-family: 微軟正黑體, Microsoft JhengHei;
}

.download_button:hover{
	background:#00938C;
	cursor:pointer;
}

.cancel_button{
	background:#80D4E9;
}

.cancel_button:hover{
	background:#67C4DB;
}

.checkmark,.remove:hover{
	cursor:pointer;
}

#add_path{
	display:none;
}

.error_category{
	color:#F68686;
	margin-left:10px;
}

.display-none{
	display:none;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.width-100{
	width:100px;
}

.width-200{
	width:200px;
}

.width-250{
	width:250px;
}

.height-35{
	height:35px;
}

.height-40{
	height:40px;
}

.margin-6-0{
	margin:6px 0px;
}

.margin-top-0{
	margin-top:0px;
}

.margin-top-7{
	margin-top:7px;
}

.margin-top-8{
	margin-top:8px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-left-2{
	margin-left:2px;
}

.margin-left-10{
	margin-left:10px;
}

.margin-left-60{
	margin-left:60px;
}

.margin-right-5{
	margin-right:5px;
}

.margin-right-20{
	margin-right:20px;
}

.margin-right-50{
	margin-right:50px;
}

.margin-bottom-0{
	margin-bottom:0px;
}

.margin-bottom-10{
	margin-bottom:10px;
}

.padding-10{
	padding:10px;
}

.border-0{
	border:0px;
}

.text-align-center{
	text-align:center;
}

.text-align-left{
	text-align:left;
}

.line-height-40{
	line-height:40px;
}

.input_height{
	height:30px;
}

.color-333{
	color:#333;
}

.color-666{
	color:#666;
}

.color-F49B7D{
	color:#F49B7D;
}

.color-8BC1DC{
	color:#8BC1DC;
}

.color-a94442{
	color:#a94442;
}

.font-size-16{
	font-size:16px;
}


.td{
	table-layout:fixed;
	word-break: break-all;
}